Your registration is complete and you can now log in at http://<%= @subdomain %>.skinnyboard.com

Welcome to SkinnyBoard!

--------------------------------------------------------
The skinnyboard.com Team
http://www.skinnyboard.com

Follow us on Twitter: http://twitter.com/skinnyboard