<% form_tag url_for(:action => "forgot_password") do %>  What is the email address used to create your account?
<%= text_field_tag :email, "", :size => 50 %>
<div class="buttonLink">
    <%= submit_tag "Request" %></div>
<% end %>