!!!
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en' }
  %head
    %meta{ 'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8' }
    %title Skinny Board
    = stylesheet_link_tag 'skinnyboard'
    = javascript_include_tag :defaults#, :cache => true
    = javascript_include_tag 'ProtoChart'
    %link{ :href => '/images/apple-touch-icon.png', :rel => 'apple-touch-icon' }
    %link{ :href => '/images/favicon.ico', :rel => 'shortcut icon' }
  %body
    %div{ :id => 'loading', :style => 'display: none;' }
      %img{ :src => '/images/loading.gif' }
    #appWrapper
      #appHeaderWrapper
      #infoArea
        #logoutBTN
          Demo
      #appScreen
      #appScreenWrapper
        #flash_notice=flash[:notice]
        #flash_error=flash[:error]
        = yield
      #appScreenFooter
      #footer
        #appfooterWrap
          SkinnyBoard      
